#nav{
    height: 42px;
    background-color: #393E46;
    border-bottom-width: 1px;
    
}

#nav .logo{
    font-size:25px;
    color: #00ADB5;
    align-items: center;
    padding-left:50px;
    font-family: 'Pacifico', cursive;
}

.menu{
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-right: 50px;
    margin: 0%;
    
}

.menu > span{
   
    color: #00ADB5 !important;
    font-family: 'Roboto', sans-serif;    
    padding:5px;
    opacity: 0.75;
    text-decoration: none !important;
    
}

.menu > a{
    text-decoration:none !important;
    color: #00ADB5 !important;
    font-family: 'Roboto', sans-serif;    
    padding:5px;
    opacity: 0.75;

}

.menu >span:hover{
    opacity: 1;

    background-color:rgb(34, 40, 49);
}
.menu >a:hover{
    opacity: 1;

    background-color:rgb(34, 40, 49);
}