
.flex-container {
    display: flex;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 10px 10px 47px -20px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 47px -20px rgba(0,0,0,0.24);
    box-shadow: 10px 10px 47px -20px rgba(0,0,0,0.24);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
  }
 
  .flex-container:hover{
    background-color:rgb(225, 227, 233);
  }

  .flex-container > .login,.register {
   
    margin: 10px;
    padding: 20px;
    
   
     
  }
  .divider {
      width: 2px;
      margin: 6px 0;
      background-color: #00ADB5;
    }

  
    .login-box {
      width: 400px;
      padding: 40px;
      box-sizing: border-box;
      z-index: 99;
    }
    
    
    .head{
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
    .login-box h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #00ADB5;
      text-align: center;
      
    }
    .login-box .adminHead1 {
      margin: 0 0 30px;
      padding: 0;
      color: #393E46;
      text-align: center;
       font-family: 'Open Sans', sans-serif;
    }
    
    .login-box .user-box {
      position: relative;
    }
    
    .login-box .user-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #393E46;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #393E46;;
      outline: none;
      background: transparent;
    }
    .login-box .user-box label {
      position: absolute;
      top:0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #393E46;
      pointer-events: none;
      transition: .5s;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 2px;
  
    }
    
    .login-box .user-box input:focus ~ label,
    .login-box .user-box input:valid ~ label {
      top: -20px;
      left: 0;
      color: #00ADB5;
      font-size: 12px;
    }
    
   .foot{
      text-decoration: none;
      display: flex;
      width: 100%;
      justify-content: space-between;
   }
   .subsignup{
      flex: 1;
      padding: 16px 0px;
      margin: 4px 1px;
      cursor: pointer;
  
  
   }
   .subsignup a {
      text-decoration: none;
      text-decoration: none;
      color: #00ADB5;
      font-size: 16px;
      cursor: pointer;
      
  }
  
  
   .sublogin button{
      background-color: #00ADB5;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 1;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      z-index: 1;
    }
    .sublogin button:hover {opacity: 0.6}
  
     
    .field-icon {
      float: right;
      margin-left: -25px;
      margin-top: -25px;
      position: relative;
      z-index: 2;
      color: #00ADB5;
  
    }